*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(6, 115px);
  gap: 20px;
  width: 1200px;
  margin: 100px auto;
}

.btn-container,
.action-btn-container {
  display: flex;
  gap: 20px;
}

.btn-container {
  flex-direction: column;
}
.action-btn-container {
  flex-direction: row;
  grid-column: 1/6;
}

.btn {
  width: 112px;
  height: 35px;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
}

.btn--flex {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 8px 13px;
}

.btn--hover {
  filter: brightness(1.2);
}

.btn--active {
  filter: brightness(0.85);
}

.btn--disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.large-btn {
  width: fit-content;
  white-space: nowrap;
}

.after-icon {
  position: relative;
  width: 5px;
}
.after-icon::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -7px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 6px solid #dc241f;
}

.btn-icon {
  width: 15px;
  height: 15px;
  order: -1;
}
