*,
*:before,
*:after {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background-color: #aeb9c8;
  color: #3f4455;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
  background-color: #f5f4f3;
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
  color: #3f4455;
  cursor: pointer;
  transition: color 0.3s;
}

.task_cases {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.case_card {
  aspect-ratio: 16 / 9;
  padding: 0 10px;
  border: 1px solid #d4dae3;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  background: linear-gradient(to right, rgba(252, 229, 213, 0.15), rgba(200, 209, 219, 0.1));
  font-size: 20px;
  font-weight: 600;
  transition: transform 0.3s;
}

.case_card:hover {
  transform: scale(1.1);
}

.case_card:hover > a,
.footer_link:hover {
  color: #1f5fa3;
}
