*,
*:before,
*:after {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: #436da0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.main-btn {
  position: relative;
  width: 100px;
  height: 30px;
  color: #ececec;
  font-size: 13px;
  font-weight: 700;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.4);
  background: linear-gradient(0, #3d6698, #4675a6);
  border-radius: 15px;
  box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.3), inset 0 2px 6px rgba(255, 255, 255, 0.3),
    inset 0 -1px 1px rgba(255, 255, 255, 0.1), inset 0 -2px 3px rgba(0, 0, 0, 0.1),
    0 2px 4px rgba(0, 0, 0, 0.3);
}

.main-btn::before {
  content: "";
  position: absolute;
  top: -0.5px;
  left: -0.5px;
  right: -0.5px;
  bottom: -0.5px;
  background: linear-gradient(0deg, #2a4d75, #3a6292);
  border-radius: 15px;
  z-index: -1;
}

.main-btn--hover {
  background: linear-gradient(0deg, #5085b8, #5d96c9);
  box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.4), inset 0 2px 6px rgba(255, 255, 255, 0.4),
    inset 0 -1px 1px rgba(255, 255, 255, 0.2), inset 0 -2px 3px rgba(0, 0, 0, 0.1),
    0 2px 4px rgba(0, 0, 0, 0.3);
}

.main-btn--hover::before {
  background: linear-gradient(0deg, #1b4373, #2f588a);
}

.main-btn--active {
  background: linear-gradient(180deg, #3d6698, #4675a6);
  box-shadow: inset 0px 2px 7px rgba(0, 0, 0, 0.3), inset 0px -1px 2px rgba(255, 255, 255, 0.1),
    inset 0 3px 10px rgba(0, 0, 0, 0.1);
  color: #b2c1d3;
}

.main-btn--active::before {
  background: linear-gradient(0, #7694ba, #1b4271);
}
