*,
*:before,
*:after {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}
html {
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  background: #000000 url("/img/mainBG.webp") no-repeat center top;
  background-size: cover;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.site-header {
  position: sticky;
  top: 0;
  padding: 0.25rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  padding: 0.5rem 0;
}

.nav-link {
  display: none;
}

main {
  flex-grow: 1;
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding: 1rem;
  text-align: center;
  font-weight: 400;
}

.main-title {
  font-size: 3.5rem;
  line-height: 1.2;
}

.main-content {
  font-size: 1.25rem;
  line-height: 1.5;
}

.footer-content {
  text-align: center;
  position: relative;
  padding-bottom: 1rem;
}

.footer-text {
  color: #6c757d;
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
}

.footer-link {
  display: inline-block;
  color: #6c757d;
  text-decoration: none;
  position: relative;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  main {
    padding: 3rem;
  }
  .container {
    max-width: 720px;
  }
  .nav-link {
    display: inline-block;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
