*,
*:before,
*:after {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

input {
  visibility: hidden;
}

label,
.border {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

label {
  width: 300px;
  aspect-ratio: 16/9;
  background: radial-gradient(at top left, #fff, #ccc);
  border-radius: 90px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.border {
  width: 280px;
  height: 155px;
  background: #fcfcfc;
  border-radius: 90px;
  box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.2), inset 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.switch-track-wrapper,
.switch-track-inner {
  width: 210px;
  height: 100px;
  border-radius: 55px;
}

.switch-track-wrapper {
  position: relative;
  overflow: hidden;
}

.switch-track-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0px 20px 32px rgba(0, 0, 0, 0.3), inset 0px -4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.switch-track-inner {
  position: absolute;
  width: 200%;
  height: 100%;
  background: linear-gradient(90deg, #57a732 50%, #bd2924 0);
  transform: translateX(-40%);
  transition: transform 0.6s ease;
}

input:checked + label .switch-track-inner {
  transform: translateX(-10%);
}

.switch-thumb {
  position: absolute;
  height: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  transition: all 0.6s ease;
  top: 0;
  left: 1px;
  background-color: #bd2924;
}

.switch-thumb::before,
.switch-thumb::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  transition: opacity 0.6s ease;
  box-shadow: inset 0px 0px 12px rgba(0, 0, 0, 0.2);
}

.switch-thumb::before {
  background: radial-gradient(at 65% 9%, #fff -35%, #bd2924 49%);
  opacity: 1;
}

.switch-thumb::after {
  background: radial-gradient(at 65% 9%, #fff -35%, #57a732 49%);
  opacity: 0;
}

input:checked + label .switch-thumb::before {
  opacity: 0;
}

input:checked + label .switch-thumb::after {
  opacity: 1;
}

input:checked + label .switch-thumb {
  left: 110px;
  background-color: #57a732;
}
